@use './_partials/variables' as *;
/* Section - Hero */
.hero {
    background-color:$background-primary-color; 
    display:flex; 
    margin-top:2.2rem;
    padding:6.5rem 6rem 3rem 7rem;

    &__content {
        padding-top:3rem;
    }
    &__content-heading {
        font-size:2.2rem;
        margin:0rem;
        color:$secondary-color;  
    }
    &__content-text {
        font-size:0.9rem;
        margin:2.2rem 0rem 2.2rem;
        color:$secondary-color;  
    }
    &__content-button {
        color:$background-secondary-color;
        font-size:0.9rem;
        background-color: $primary-color;
        border-radius:25rem;
        padding:0.5rem 2.2rem;
        text-decoration:none;
        display:inline-block;
    }
    &__content-button:hover {
        background: $button-hover-color;
        font-weight:600;
        text-transform: uppercase;
        padding:1rem 2.2rem;
        box-shadow: 6px 6px 10px $button-hover-shadow;
        transition: background-color 0.3s, text-transform 0.3s, font-weight 0.3s, padding 0.3s, box-shadow 0.5s;
    }
    &__image-img {
        width:27rem;
        margin-left:8rem;
    }
}
/* Section - Recommendations */