/* Colors */
$primary-color:#DB7A4E;
$secondary-color:#335576;
$link-color:#000000;
$background-primary-color:#FEFAF5;
$background-secondary-color:#FFFFFF;
/* Fonts */
$font-stack:Verdana, Geneva, Tahoma, sans-serif;