$primary-color:#DB7A4E;
$secondary-color:#335576;
$tertiary-color:#000000;
$background-primary-color:#FEFAF5;
$background-secondary-color:#FFFFFF;
$button-hover-color:#da7241;
$button-hover-shadow:#1c2f42;
$font-stack:Verdana, Geneva, Tahoma, sans-serif;